[Unit]
Description=Startup Script for User fs
After=network.target

[Service]
User=fs
ExecStart=/home/fs/startup_fs_pyfirm.sh

[Install]
WantedBy=multi-user.target


