[Unit]
Description=Startup Script for User fs
After=network.target

[Service]
User=root
ExecStart=/home/fs/fs-lattepanda-src/home/fs/startup_root.sh

[Install]
WantedBy=multi-user.target

